* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background: #0b2447;
}

img {
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

img:hover {
  border: 6px solid #0b2447;
  border-radius: 12px;
}

img.pyro {
  background: #df4f4f;
}

img.hydro {
  background: #3346f1;
}

img.anemo {
  background: #38e9bd;
}

img.electro {
  background: #9b32e1;
}

img.dendro {
  background: #00d40b;
}

img.cryo {
  background: #60dcf5;
}

img.geo {
  background: #f7e812;
}

img.traveler {
  background: lightgray;
}

.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 4px));
  gap: 4px;
  align-items: center;
  justify-content: right;
}

.search {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
  padding-right: 0;
}

.search select {
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 12px 20px;
}

.search button {
  border: 0;
  outline: 0;
  padding: 12px 20px;
  border-radius: 20px;
  background: #576cbc;
  color: white;
  margin-left: 5px;
}

.draft-table {
  background: #a5d7e8;
  display: grid;
  float: left;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 700px;
  margin: 20px;
  border-radius: 16px;
  row-gap: 30px;
  padding: 20px;
}

.draft-table div  h2{
  text-align: center;
}

.draft-form {
  padding-right: 10px;
  width: 45%;
  float: right;
}

.hidden {
  display: none;
}
