* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: #0B2447;
}

img {
  border-radius: 8px;
  width: 100px;
}

img.pyro {
  background: #df4f4f;
}

img.hydro {
  background: #3346f1;
}

img.anemo {
  background: #38e9bd;
}

img.electro {
  background: #9b32e1;
}

img.dendro {
  background: #00d40b;
}

img.cryo {
  background: #60dcf5;
}

img.geo {
  background: #f7e812;
}

img.traveler {
  background: lightgray;
}

.characters {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 4px;
  align-items: center;
  justify-content: right;
}

.search {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
}

.search select {
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 12px 20px;
}

.search button {
  border: 0;
  outline: 0;
  padding: 12px 20px;
  border-radius: 20px;
  background: #576CBC;
  color: white;
  margin-left: 5px;
}